@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700&display=swap');

:root{
    --bright-orange :hsl(31, 77%, 52%); /* Bright orange */
    --dark-cyan : hsl(184, 100%, 22%); /* Dark cyan */
    --very-dark-cyan : hsl(179, 100%, 13%);  /* very Dark cyan */
}

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body {
    font-family: 'Lexend Deca',sans-serif;
    width: 960px;
    margin: 50px auto;
    color: #fff;
}

/*  grid-3-cols */
.grid-3-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    margin:10px;   
}

.grid-3-cols  div{
    padding: 5rem;
}

.grid-3-cols div .btn:nth-child(1)
{
    color: var(--bright-orange);
}

.grid-3-cols div:nth-child(1){
    background-color: var(--bright-orange);
    border-radius: 12px 0 0 12px; 
}
.grid-3-cols div:nth-child(2){
    background-color: var(--dark-cyan);
}
.grid-3-cols div:nth-child(3){
    background-color: var(--very-dark-cyan);
    border-radius: 0 12px 12px 0; 
}

/* car box style */

.car-title {
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
    color: hsl(0, 0%, 95%);
}

.car-icon{
    margin-bottom: 2.4rem;
}

.car-text {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
    line-height: 1.8;
    margin-bottom: 6.4rem;
    color:  hsla(0, 0%, 100%, 0.75);
}

/* button style */

.btn:link,
.btn.visited{
    background-color: #fff;
    padding: 1.6rem 3.3rem;
    border-radius: 10rem;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    animation: all 0.3s;
}

.btn:hover,
.btn:active{
    /* border: 2px solid #fff; */
    box-shadow: inset 0 0 0 2px #fff;
    color: hsl(0, 0%, 95%);
}

.btn-sedan{
    color: var(--bright-orange);
}
.btn-suv{
    color: var(--dark-cyan);
}
.btn-luxury{
    color: var(--very-dark-cyan);
}

.btn-sedan:hover,
.btn-sedan:active{
    background-color: var(--bright-orange);
    color: hsl(0, 0%, 95%);
}

.btn-suv:hover,
.btn-suv:active{
    background-color: var(--dark-cyan);
    color: hsl(0, 0%, 95%);
}

.btn-luxury:hover,
.btn-luxury:active{
    background-color: var(--very-dark-cyan);
    color: hsl(0, 0%, 95%);
}


/* footer */

.attribution{
    color: gray;
    font-size: 1.6rem;
    margin-top: 1.8rem;
}

.attribution a{
    text-decoration: none;
    color: rgb(35, 35, 35);
    font-weight: 900;
}

/* mobile design  */

@media screen and (max-width: 376px) {

    body{
        width: 100%;
        margin: 5rem 1rem;
    }
     .grid-3-cols{
        display: grid;
        grid-template-columns: 90%;
        margin-left: 1rem;
        margin-right: 1rem;
        width: 100%;
        grid-template-rows: repeat(3,1fr);
    }
    .grid-3-cols div:nth-child(1){
        border-radius: 1.2rem 1.2rem 0 0; 
    }
    .grid-3-cols div:nth-child(3){
        border-radius: 0 0 1.2rem 1.2rem; 
    }
  }